/* src/index.css */
:root {
  --primary-color: #007bff; /* Blue for buttons and highlights */
  --primary-hover-color: #0056b3;
  --background-color-dark: #121212; /* Main background */
  --background-color-light: #1e1e1e; /* Lighter background for sections */
  --card-color: #2a2a2a; /* For cards like skills and projects */
  --text-color-primary: #e0e0e0; /* Main text */
  --text-color-secondary: #b0b0b0; /* Subtitles and descriptions */
  --glass-color: rgba(22, 22, 22, 0.3); /* Navbar glass effect */
  --border-color: rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-dark);
  color: var(--text-color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}